
@{
    ViewBag.Title = "CustomerHome";
}

<h2>Customer's HomePage</h2>
<div style="font-size:x-large">
    <pre>
@Html.ActionLink("change password"," ")      @Html.ActionLink("my profile"," ")     @Html.ActionLink("log out", "LogIn")

</pre>



</div>

