
@{
    ViewBag.Title = "Login";
}

<form action="" method="post">
    <h2>Please Enter Your Details</h2>
    <div style="font-size:larger">
        <pre>
Enter UserName @Html.TextBox("Uname")
<br />

Enter Password @Html.Password("pwd")
<br />

Login As  @Html.DropDownList("drpRole",new List<SelectListItem>
     {
         new SelectListItem{Text="Admin"},
         new SelectListItem{Text="Customer"}
     })
  
        <input type="submit" value="Login" />
</pre>
    </div>
</form>


